@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.App::before {
  display: block;
  content: "";
  height: 100px;
}

.container {
  width: 100%;
  margin: auto;
}

.login_btn {
  border-radius: 20px 2px;
}

.pounds {
  text-align: end;
}

.detail {
  z-index: 10;
}

.card {
  width: 90%;
  margin: auto;
}
